<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./male_player_attack1_left_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{30,-24}</string>
    <key>spriteSize</key>
    <string>{78,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{166,86},{78,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack1_left_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{30,-22}</string>
    <key>spriteSize</key>
    <string>{78,99}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,110},{78,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack1_left_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{30,-15}</string>
    <key>spriteSize</key>
    <string>{66,114}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{98,86},{66,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack1_left_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-18}</string>
    <key>spriteSize</key>
    <string>{96,108}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,0},{96,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack1_left_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-30}</string>
    <key>spriteSize</key>
    <string>{114,84}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{98,0},{114,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack1_left_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,-27}</string>
    <key>spriteSize</key>
    <string>{72,90}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{166,184},{72,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{246,276}</string>
   <key>textureFileName</key>
   <string>male_player_attack1_left.png</string>
  </dict>
 </dict>
</plist>
