<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./male_player_attack2_right_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-30,-24}</string>
    <key>spriteSize</key>
    <string>{78,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{116,0},{78,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack2_right_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-33,-22}</string>
    <key>spriteSize</key>
    <string>{78,99}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,86},{78,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack2_right_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-36,-21}</string>
    <key>spriteSize</key>
    <string>{72,102}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{116,98},{72,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack2_right_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-18,-24}</string>
    <key>spriteSize</key>
    <string>{66,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{196,0},{66,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack2_right_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-30}</string>
    <key>spriteSize</key>
    <string>{114,84}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,0},{114,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_attack2_right_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-18,-27}</string>
    <key>spriteSize</key>
    <string>{66,90}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{190,98},{66,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{264,202}</string>
   <key>textureFileName</key>
   <string>male_player_attack2_right.png</string>
  </dict>
 </dict>
</plist>
