<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./male_player_walk_right_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-26,-24}</string>
    <key>spriteSize</key>
    <string>{52,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{80,0},{52,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_walk_right_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-26,-22}</string>
    <key>spriteSize</key>
    <string>{46,99}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{50,98},{46,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_walk_right_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-18,-21}</string>
    <key>spriteSize</key>
    <string>{42,102}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{134,0},{42,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_walk_right_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-30,-24}</string>
    <key>spriteSize</key>
    <string>{78,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,0},{78,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_walk_right_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-24,-22}</string>
    <key>spriteSize</key>
    <string>{48,99}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,98},{48,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_walk_right_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-21}</string>
    <key>spriteSize</key>
    <string>{40,102}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{134,104},{40,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{178,208}</string>
   <key>textureFileName</key>
   <string>male_player_walk_right.png</string>
  </dict>
 </dict>
</plist>
