<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./male_player_craft_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-24}</string>
    <key>spriteSize</key>
    <string>{70,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,0},{70,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_craft_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-23,-24}</string>
    <key>spriteSize</key>
    <string>{70,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{72,0},{70,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_craft_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-23,-24}</string>
    <key>spriteSize</key>
    <string>{70,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,98},{70,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_craft_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-24}</string>
    <key>spriteSize</key>
    <string>{70,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{72,98},{70,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_craft_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-24}</string>
    <key>spriteSize</key>
    <string>{70,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{144,0},{70,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_craft_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-24}</string>
    <key>spriteSize</key>
    <string>{70,96}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{144,98},{70,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{216,196}</string>
   <key>textureFileName</key>
   <string>male_player_craft.png</string>
  </dict>
 </dict>
</plist>
