<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./male_player_run_left_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{19,-27}</string>
    <key>spriteSize</key>
    <string>{88,90}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,89},{88,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_run_left_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{22,-28}</string>
    <key>spriteSize</key>
    <string>{52,87}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{190,0},{52,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_run_left_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{24,-28}</string>
    <key>spriteSize</key>
    <string>{90,87}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{98,0},{90,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_run_left_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,-27}</string>
    <key>spriteSize</key>
    <string>{84,90}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{90,89},{84,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_run_left_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{22,-28}</string>
    <key>spriteSize</key>
    <string>{52,87}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{176,89},{52,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./male_player_run_left_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,-28}</string>
    <key>spriteSize</key>
    <string>{96,87}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{0,0},{96,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{244,181}</string>
   <key>textureFileName</key>
   <string>male_player_run_left.png</string>
  </dict>
 </dict>
</plist>
