<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./orc1_walk_left_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{58,93}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{134,101},{58,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_left_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,6}</string>
    <key>spriteSize</key>
    <string>{64,96}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{68,0},{64,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_left_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,7}</string>
    <key>spriteSize</key>
    <string>{66,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,0},{66,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_left_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,4}</string>
    <key>spriteSize</key>
    <string>{66,93}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,101},{66,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_left_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,6}</string>
    <key>spriteSize</key>
    <string>{64,96}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{68,98},{64,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_left_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,7}</string>
    <key>spriteSize</key>
    <string>{60,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{134,0},{60,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{198,196}</string>
   <key>textureFileName</key>
   <string>orc1_walk_left.png</string>
  </dict>
 </dict>
</plist>
