<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./orc1_death_right_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{60,96}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,86},{60,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_right_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,3}</string>
    <key>spriteSize</key>
    <string>{70,90}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{78,0},{70,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_right_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{76,84}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,0},{76,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_right_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-9}</string>
    <key>spriteSize</key>
    <string>{88,66}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{78,92},{88,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_right_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{18,-21}</string>
    <key>spriteSize</key>
    <string>{96,42}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{176,160},{96,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_right_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{18,-13}</string>
    <key>spriteSize</key>
    <string>{96,57}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{150,0},{96,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_right_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{18,-13}</string>
    <key>spriteSize</key>
    <string>{96,57}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{78,160},{96,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_right_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{18,-13}</string>
    <key>spriteSize</key>
    <string>{96,57}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{168,92},{96,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{274,219}</string>
   <key>textureFileName</key>
   <string>orc1_death_right.png</string>
  </dict>
 </dict>
</plist>
