<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./orc1_death_left_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,6}</string>
    <key>spriteSize</key>
    <string>{60,96}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,86},{60,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_left_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,3}</string>
    <key>spriteSize</key>
    <string>{70,90}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{78,0},{70,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_left_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{76,84}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,0},{76,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_left_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,-9}</string>
    <key>spriteSize</key>
    <string>{84,66}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{78,92},{84,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_left_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-21}</string>
    <key>spriteSize</key>
    <string>{94,42}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{174,160},{94,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_left_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-13}</string>
    <key>spriteSize</key>
    <string>{94,57}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{150,0},{94,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_left_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-13}</string>
    <key>spriteSize</key>
    <string>{94,57}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{78,160},{94,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_death_left_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-13}</string>
    <key>spriteSize</key>
    <string>{94,57}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{164,92},{94,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{270,219}</string>
   <key>textureFileName</key>
   <string>orc1_death_left.png</string>
  </dict>
 </dict>
</plist>
