<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./orc1_attack_right_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{60,96}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{272,232},{60,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_right_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,7}</string>
    <key>spriteSize</key>
    <string>{100,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{128,220},{100,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_right_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{19,-10}</string>
    <key>spriteSize</key>
    <string>{142,87}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{128,131},{142,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_right_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{25,1}</string>
    <key>spriteSize</key>
    <string>{136,129}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,0},{136,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_right_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{33,1}</string>
    <key>spriteSize</key>
    <string>{126,135}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,131},{126,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_right_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{33,-3}</string>
    <key>spriteSize</key>
    <string>{126,120}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{138,0},{126,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_right_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{18,7}</string>
    <key>spriteSize</key>
    <string>{96,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{266,0},{96,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_right_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,7}</string>
    <key>spriteSize</key>
    <string>{76,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{272,131},{76,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{364,330}</string>
   <key>textureFileName</key>
   <string>orc1_attack_right.png</string>
  </dict>
 </dict>
</plist>
