<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./orc1_attack_left_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,6}</string>
    <key>spriteSize</key>
    <string>{60,96}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{270,232},{60,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_left_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,7}</string>
    <key>spriteSize</key>
    <string>{82,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{264,0},{82,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_left_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-10}</string>
    <key>spriteSize</key>
    <string>{142,87}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{126,131},{142,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_left_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-26,1}</string>
    <key>spriteSize</key>
    <string>{136,129}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,0},{136,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_left_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-34,1}</string>
    <key>spriteSize</key>
    <string>{124,135}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,131},{124,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_left_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-34,-3}</string>
    <key>spriteSize</key>
    <string>{124,120}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{138,0},{124,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_left_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-24,7}</string>
    <key>spriteSize</key>
    <string>{102,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{126,220},{102,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_attack_left_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-14,7}</string>
    <key>spriteSize</key>
    <string>{82,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{270,131},{82,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{354,330}</string>
   <key>textureFileName</key>
   <string>orc1_attack_left.png</string>
  </dict>
 </dict>
</plist>
