<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./orc1_walk_right_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{60,93}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{140,101},{60,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_right_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,6}</string>
    <key>spriteSize</key>
    <string>{64,96}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,101},{64,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_right_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,7}</string>
    <key>spriteSize</key>
    <string>{66,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,0},{66,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_right_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,4}</string>
    <key>spriteSize</key>
    <string>{70,93}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{68,0},{70,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_right_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,7}</string>
    <key>spriteSize</key>
    <string>{64,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{68,95},{64,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_walk_right_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,7}</string>
    <key>spriteSize</key>
    <string>{60,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{140,0},{60,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{202,199}</string>
   <key>textureFileName</key>
   <string>orc1_walk_right.png</string>
  </dict>
 </dict>
</plist>
