<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./orc1_idle_right_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{60,96}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,101},{60,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_idle_right_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,7}</string>
    <key>spriteSize</key>
    <string>{60,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,0},{60,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_idle_right_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,7}</string>
    <key>spriteSize</key>
    <string>{60,99}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{62,0},{60,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./orc1_idle_right_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{60,96}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{62,101},{60,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{124,199}</string>
   <key>textureFileName</key>
   <string>orc1_idle_right.png</string>
  </dict>
 </dict>
</plist>
